Ink for some pandas oprations<br>
Link: https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-6fcd0170be9c

In [1]:
import pandas as pd

## Select specific value from column

In [6]:
data = pd.DataFrame({0:[1,2,3,4],
                    1:[14,15,16,17],
                    2:['mango','orage','banana','grape'],
                    3:[100,200,300,400]})

In [8]:

data[data[3]>300]

   0   1      2    3
3  4  17  grape  400

In [9]:
data.loc[data[1]>=15]

   0   1       2    3
1  2  15   orage  200
2  3  16  banana  300
3  4  17   grape  400